<!DOCTYPE html>
<html lang="en" ng-app="regApp">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body ng-controller="RegCtrl as regCtrl" >
<div class="container-fluid">
    <div class="col-sm-12 col-md-3 col-lg-3">
        <form name="myForm">
            <div>
                <h3>Member Registration</h3>
                <div class="form-group">
                    <div><label>Email:</label></div>
                    <div>
                        <input type="email" name="email" ng-model="regCtrl.member.email" autofocus required placeholder="Please enter your email" >
                    </div>
                    <div role="alert">
                    <span class="error" ng-show="myForm.email.$error.required">
                           Required!</span>
                        <span class="error" ng-show="myForm.email.$error.email">
                           Not valid email!</span>
                    </div>
                </div>
                <div class="form-group">
                    <div><label>Password:</label></div>
                    <div>
                        <input type="password" ng-model="regCtrl.member.pwd" placeholder="Enter Password">
                    </div>
                </div>

                <div class="form-group">
                    <div><label>Name:</label></div>
                    <div>
                        <input type="text" ng-model="regCtrl.member.name" placeholder="Name">
                    </div>
                </div>

                <div class="form-group">
                    <div><label>Gender:</label></div>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="Male" ng-model="regCtrl.member.gender">Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="Female" ng-model="regCtrl.member.gender">Female
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div><label>Date of Birth:</label></div>
                    <div>
                        <input type="date" name="date"  ng-model="regCtrl.member.dob | " required>
                    </div>
                    <div role="alert">
                    <span class="error" ng-show="myForm.date.$error.required">
                           Required!</span>
                    </div>
                </div>


                <div>

                    <p>Click the button to display the full year of todays date.</p>

                    <button onclick="myFunction(date)">Try it</button>

                    <p id="demo"></p>

                    <script>
                        function myFunction(dat) {
                            var d = new Date();
                            var n = dat.getYear();
                            document.getElementById("demo").innerHTML = n;
                        }
                    </script>



                </div>

                <div class="form-group">
                    <div><label>Address:</label></div>
                    <div>
                        <input type="text" ng-model="regCtrl.member.address" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div><label>Country:</label></div>
                    <div>
                        <input type="text" ng-model="regCtrl.member.country" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <label>Contact:</label>
                    </div>

                    <div>
                        <input type="text" ng-model="regCtrl.member.number"
                               placeholder={{regCtrl.member.number}} ng-pattern="/^[0-9]{1,20}$/">
                    </div>
                    <div ng-show="regCtrl.member.number.$error">
                        <h5 class = "member_invalid">Invalid member number</h5>
                    </div>

                </div>

                <div class="form-group">
                    <button type="button" class="btn-success" ng-click="regCtrl.submit(regCtrl.member)">Submit</button>
                    <button type="button" class="btn-success" ng-click="regCtrl.resetEntry(regCtrl.member)">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="index.js"></script>
</html>